{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">
        What is GovWifi
      </h2>
      <p>
        GovWifi allows staff and visitors in government and public sector organisations to stay connected to a secure wifi service when they move between buildings.
      </p>

      <h2 class="govuk-heading-l">
        Benefits
      </h2>
      <p>
        GovWifi allows staff and visitors in government and public sector organisations to stay connected to a secure wifi service when they move between buildings.
      </p>

    </div>
</div>

{% endblock %}
