{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">


    <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#what-is-govwifi">
              About GovWifi
            </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="technical">
              Requirements
            </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="sponsor">
              Sponsor
            </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="sign-up">
              Sign up your organisation
            </a>
        </li>
      </ul>




    <div class="govuk-grid-column-one-third">
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="/what-is-govwifi">What is GovWifi</a>
        </li>

        <li>
          <a class="govuk-link" href="/benefits">Benefit</a>
        </li>

        <li>
          <a class="govuk-link" href="/how-it-works">How it works</a>
        </li>

        <li>
          <a class="govuk-link" href="/status">Status</a>
        </li>

        <li>
          <a class="govuk-link" href="/use">Use</a>
        </li>

        <li>
          <a class="govuk-link" href="/security">Security</a>
        </li>

        <li>
          <a class="govuk-link" href="/support">Support</a>
        </li>

        <li>
          <a class="govuk-link" href="/get-started">Getting started</a>
        </li>

      </ul>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Get started
      </h1>

      <h2 class="govuk-heading-s">
        What to know beforehand
      </h2>

      <p>
        You will have a range of options to monitor and control the performance of the network - however, you should make sure that this model is supported by the people that manage the IT team as well as senior decision makers.
      </p>

      <p>
        We want to make it easy for government organisations to use GovWifi. Follow these instructions to:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>get started having conversations about GovWifi within your organisation</li>

        <li>set up the GovWifi service on your infrastructure</li>
        <li>set up managed end user devices to automatically connect to GovWifi</li>
      </ul>

      <p>
        End users should follow these instructions to connect to GovWifi.
      </p>

    </div>
</div>

{% endblock %}
