{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="what-is-govwifi">
              About GovWifi
            </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#technical">
              Requirements
            </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="sponsor">
              Sponsor
            </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="sign-up">
              Sign up your organisation
            </a>
        </li>
      </ul>

    <div class="govuk-grid-column-one-third">
      <ul class="govuk-list">

        <li>
          <a class="govuk-link" href="/technical">Infrastructure requirements</a>
        </li>

        <li>
          <a class="govuk-link" href="/operational">Operational requirements</a>
        </li>

        <li>
          <a class="govuk-link" href="/get-ready-before">What to get ready before</a>
        </li>


      </ul>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Operationa; requirements
      </h1>

      <h2 class="govuk-heading-s">
        Running a trial
      </h2>

      <p>
        You must provide a suitable amount of internet bandwidth for the anticipated number of users. Plan for 50% of the AP vendor’s recommended client device count per AP radio. Stay well under the vendor’s published maximum figure (for example, one access point per block of 20 users, located in the middle of each group).
      </p>


    </div>
</div>

{% endblock %}
