{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      <div class="govuk-tabs govuk-!-margin-bottom-6" data-module="tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="/what-is-govwifi">
              About GovWifi
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="technical">
              Requirements
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="sponsor">
              Sponsor
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="sign-up">
              Sign up your organisation
            </a>
          </li>
        </ul>
      </div>
    </div>



    <div class="govuk-grid-column-one-third">
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="/what-is-govwifi">What is GovWifi</a>
        </li>

        <li>
          <a class="govuk-link" href="/benefits">Benefit</a>
        </li>

        <li>
          <a class="govuk-link" href="/how-it-works">How it works</a>
        </li>

        <li>
          <a class="govuk-link" href="/status">Status</a>
        </li>

        <li>
          <a class="govuk-link" href="/use">Use</a>
        </li>

        <li>
          <a class="govuk-link" href="/security">Security</a>
        </li>

        <li>
          <a class="govuk-link" href="/support">Support</a>
        </li>

        <li>
          <a class="govuk-link" href="/get-started">Getting started</a>
        </li>

      </ul>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Security
      </h1>
      <p>
        Your wifi installation must meet the requirements defined in sharing workplace wireless networks. You must configure:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>user devices to automatically check that the correct certificate is presented by the network so users don’t connect to fake networks</li>
        <li>WPA2-Enterprise (AES) encryption to ensure privacy</li>
        <li>client isolation on your wireless network to protect users from each other</li>
        <li>anonymous identity to encrypt usernames</li>
      </ul>









    </div>
</div>

{% endblock %}
