{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">


    <div class="govuk-grid-column-full">
      <div class="govuk-tabs govuk-!-margin-bottom-6" data-module="tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="/what-is-govwifi">
              About GovWifi
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="technical">
              Requirements
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="sponsor">
              Sponsor
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="sign-up">
              Sign up your organisation
            </a>
          </li>
        </ul>
      </div>
    </div>


    <div class="govuk-grid-column-one-third">
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="/what-is-govwifi">What is GovWifi</a>
        </li>

        <li>
          <a class="govuk-link" href="/benefits">Benefit</a>
        </li>

        <li>
          <a class="govuk-link" href="/how-it-works">How it works</a>
        </li>

        <li>
          <a class="govuk-link" href="/status">Status</a>
        </li>

        <li>
          <a class="govuk-link" href="/use">Use</a>
        </li>

        <li>
          <a class="govuk-link" href="/security">Security</a>
        </li>

        <li>
          <a class="govuk-link" href="/support">Support</a>
        </li>

        <li>
          <a class="govuk-link" href="/get-started">Getting started</a>
        </li>

      </ul>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Support
      </h1>

      <p>
        GovWifi is a high availability service with automatic scaling, failover and load balancing. For email and text messages GovWifi uses GOV.UK Notify.
      </p>

      <p>
        GovWifi is supported from 8:30am to 10pm, 7 days a week. There is a ticketing system for service teams to ask questions or raise issues. GDS provides support to technical teams:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>once they have completed all diagnostic tests</li>

        <li>if they find a problem with the central authentication service</li>
      </ul>
      <p>
        GDS does not provide direct support to end users. Technical teams in organisations must support their end users.
      </p>


    </div>
</div>

{% endblock %}
