{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="/what-is-govwifi">What is GovWifi</a>
        </li>

        <li>
          <a class="govuk-link" href="/benefits">Benefit</a>
        </li>

        <li>
          <a class="govuk-link" href="/how-it-works">How it works</a>
        </li>

        <li>
          <a class="govuk-link" href="/status">Status</a>
        </li>

        <li>
          <a class="govuk-link" href="/use">Use</a>
        </li>

        <li>
          <a class="govuk-link" href="/security">Security</a>
        </li>

        <li>
          <a class="govuk-link" href="/support">Support</a>
        </li>

        <li>
          <a class="govuk-link" href="/get-started">Getting started</a>
        </li>

      </ul>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Support
      </h1>

      <h2 class="govuk-heading-s">
        Costs
      </h2>
      <p> There is no cost to set up GovWifi, as it runs on existing wireless infrastructure. It’s managed centrally by Government Digital Service (GDS), which covers the running costs for the platform. GovWifi can also save organisations money by removing the need for a separate guest wifi network.
          Average costs for maintaining: £ 384.00 per month
      </p>

      <h2 class="govuk-heading-s">
        It makes staff more productive
      </h2>
      <p> Cross-government collaboration is making civil servants more mobile, and GovWifi gives them fast, secure internet access in all participating government and public sector buildings.  Here is a map of where GovWifi is offered: Show the map
      </p>

      <h2 class="govuk-heading-s">
        It is quick and easy to install
      </h2>
      <p> Getting GovWifi set up for your organisation is quick and easy. Follow these instructions. Visitors can join GovWifi self-sufficiently
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ipsum magna, lacinia et dui quis, elementum consequat nisi.
      </p>

    </div>
</div>

{% endblock %}
