{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="/what-is-govwifi">What is GovWifi</a>
        </li>

        <li>
          <a class="govuk-link" href="/benefits">Benefit</a>
        </li>

        <li>
          <a class="govuk-link" href="/how-it-works">How it works</a>
        </li>

        <li>
          <a class="govuk-link" href="/status">Status</a>
        </li>

        <li>
          <a class="govuk-link" href="/use">Use</a>
        </li>

        <li>
          <a class="govuk-link" href="/security">Security</a>
        </li>

        <li>
          <a class="govuk-link" href="/support">Support</a>
        </li>

        <li>
          <a class="govuk-link" href="/get-started">Getting started</a>
        </li>

      </ul>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Use
      </h1>

      <p>
        Government and public sector organisations can take part in the public beta. Technical teams can take part by signing up
      </p>

      <h2 class="govuk-heading-s">
           GovWifi is suitable for organisations with:
      </h2>

      <p>
        an existing guest wifi network
        frequent visitors attending meetings and events
        staff who work between buildings frequently
      </p>

      <h2 class="govuk-heading-s">
      What other people are saying about GovWifi
      </h2>

      <p>
        “We are using GovWifi as a guest Wifi. It is easy to prepare and set up our visitors and saves a lot of time for our IT team. ”
        (Andy, IT manager)
      </p>

      <p>
       “We have found all the step by step advise very useful. GovWifi has been set up entirely by our support team and only needed little help from our in house developers. Also, the maintenance is very clear and can be managed by our support team. ”
       (Susan, Support desk)
      </p>

    </div>
</div>

{% endblock %}
